.img-logo {
    @include sizes (150px,200px)
}
.barra-nav {
    grid-area: barra;
    background-color: #E31B1B;
    @include sizes (100%,145px);
    @include display(flex,space-evenly);
}
.opciones {
    margin-left: -40px;
    text-align: center;
    width: 100%;
    list-style: none;
    @include display (flex, space-evenly);
    li {
        a {
            text-decoration: none;
            color: $color-botones;
            font-size: 22px;
            width: 100%;
        }
    }
    .opciones-lista {
        align-items: center;
        list-style-type: none;
        padding: 0;
        height: 160px;
        @include display (flex,center);
        .opciones-backround {
            background-color: #FF8C1D;
            @include border(5px 15px, none, 30px);
        }
        .opciones-lista-nosotros a {
            padding-inline: map-get($paddings-navbar, nosotros);
        }
        .opciones-lista-ayuda a {
            padding-inline: map-get($paddings-navbar, ayuda);
        }
        .opciones-lista-carrito a {
            padding-inline: map-get($paddings-navbar, carrito);
        }
    }
}
