@media only screen and (min-width:769px) and (max-width:1200px){
    .mas-vendidos{
        .mas-vendidos-colum{
            .mas-vendido-colum-card{
                font-size: 2vw;
                figure{
                    .img-mas-vendido{
                        @include sizes(100%,auto);
                    }
                    figcaption{
                        h4{
                            font-size: 2.5vw
                        }
                        .mas-vendido-colum-card-boton{
                            a{
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .formulario{
        .formulario-imagen{
            height: auto;
            p{
                margin-top: 40px;;
                font-size: 3vw;
            }
            img{
                max-width: 150px;
            }
        }
        .datos {
            @include sizes(40%,auto);
            .titulo-formulario{
                font-size: 2vw;
            }
            div{
                input{
                    padding: 5px;
                    border-radius: 5px;
                }
                label {
                    font-size: 2.5vw;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .button {
                    font-size: 2vw;
                }
            }
        }
    } 
    footer {
        .footer-texto {
            font-size: 3vw;
        }
        .footer-editado-boostrap img{
            max-width: 70px;
        }
    }
    .footer-editado-boostrap img{
        max-width: 20%;
    }
    .productos-fila-uno{
        .mas-vendido-colum-card{
            width: 30%;
        }
        .mas-vendido-colum-card-productos{
            figure{
                img{
                    margin-top: -10px;
                }
            }
        }
    }
    .seccion-ayuda{
        margin: 50px 0 0 20px ;
        h1{
            font-size: 5vw;
        }
        .seccion-ayuda-texto{
            @include display(flex,space-evenly);
            .seccion-ayuda-texto-introduccion{
                font-size: 3vw;
                width: 60%;
            }
            .seccion-ayuda-texto-enlaces{
                width: 30%;
                font-size: 2.5vw;
                .imagen-contactame{
                    max-width: 100%;
                }
                .container-contactame{
                    height: 300px;
                }
            }
        }
    }
}
/** MOBILE **/
@media only screen and (min-width:320px) and (max-width:768px){
    .img-logo {
        @include sizes (75px,100px)
    }
    .barra-nav {
        @include sizes (100%,80px);
    }
    .opciones {
        li {
            a {
                margin-inline: 2px;
                margin-bottom: 40px;
                text-decoration: none;
                color: $color-botones;
                font-size: 2vw;
                width: 100%;
            }
        }
    }
    .banner-container {
        .carrousel-texto-papeleria {
            h1{
                line-height: 0.5;
            }
            h2,
            h3,
            h4 {
                line-height: 0.5;
                strong{
                    font-size: clamp(11px, 2vw, 30px);
                }
            }
            a {
                line-height: 3;
                font-size: clamp(5px, 2vw, 30px);
                @include border(5px 10px,none,20px);
            }
        }
        .carrousel-texto-jugueteria {
            h1{
                line-height: 0.5;
            }
            h2,
            h3,
            h4 {
                line-height: 0.5;
                strong{
                    font-size: clamp(11px, 2vw, 30px);
                }
            }
            a {
                line-height: 3;
                font-size: clamp(5px, 2vw, 30px);
                @include border(5px 10px,none,20px);
            }
        }
    }
    .contenedor-backround-lapices{
        @include sizes(100%,auto);
    }
    .servicios {
        .servicios-img {
            font-size: 3vw;
            .img-servicio {
                max-width: 130%;
            }
        }
    }
    .mas-vendidos{
        margin-top: -30px;
        padding-bottom: 50px;
        .mas-vendidos-colum{
            .mas-vendido-colum-card{
                width: 34%;
                figure{
                    .img-mas-vendido{
                        max-width: 100%;
                        height: auto;
                    }
                    figcaption{
                        h4{
                            font-size: 2.5vw
                        }
                        .mas-vendido-colum-card-boton{
                            a{
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .marcas{
        margin-top: -40px;
    }
    .formulario{
        .formulario-imagen{
            margin-top: 50px;
            width: 50%;
            height: 100%;
            p{
                font-size: 3vw;
            }
            img{
                max-width: 80%;
            }
        }
        .datos {
            @include sizes(50%,auto);
            .titulo-formulario{
                font-size: 2vw;
            }
            div{
                input{
                    padding: 5px;
                    border-radius: 5px;
                }
                label {
                    font-size: 2.5vw;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .button {
                    font-size: 2vw;
                }
            }
        }
    } 
    footer {
        .footer-texto {
            font-size: 3vw;
        }
        .footer-editado-boostrap img{
            max-width: 7%;
            padding: 1px;
        }
    }
    .productos-fila-uno {
        .mas-vendido-colum-card {
            width: 40%;
            font-size: 2vw;
        }
        .mas-vendidos-colum-productos {
            float: right;
        }
        .mas-vendido-colum-card-productos{
            margin-bottom: 20px;
            figure{
                img{
                    max-width: 80%;
                    height: auto;
                }
                figcaption{
                    div{
                        a{
                            font-size: 2vw;
                        }
                    }
                }
            }       
        }
    }
    .seccion-ayuda{
        margin: 50px 0 0 20px ;
        h1{
            font-size: 5vw;
        }
        .seccion-ayuda-texto{
            @include display(flex,space-evenly);
            .seccion-ayuda-texto-introduccion{
                font-size: 3vw;
                width: 60%;
            }
            .seccion-ayuda-texto-enlaces{
                line-height: 2;
                width: 30%;
                font-size: 2.5vw;
                .imagen-contactame{
                    max-width: 100%;
                }
                .container-contactame{
                    height: auto;
                }
            }
        }
    }
    .seccion-historia{
        font-size: 70%;
    }
    .carrito{
        h1{
           font-size: 6vw;
        }
        table{
            margin-left: 20px;
            width: 90%;
            display: grid;
            justify-content: center;
            font-size: 3vw;
            thead{
                font-size: 0;
                margin-top: 30px;
                tr{
                    .table-imagen{
                        padding-left: 0;
                    }
                    .table-descripcion{
                        padding-left: 0px;
                    }  
                    .table-cantidad{
                        padding-left: 0px ;
                    }
                    .table-precio{
                        padding-left: 0px ;
                    }
    
                }
            }
            tbody{
                tr{
                    height: auto;
                    td{
                        padding-inline: 0px;
                        img{
                            max-width: 40%;
                            padding-block: 10px;
                        }
                    }
                }
            }
        }
    }
    .pagar{
        padding: 10px;
        button{
            padding: 5px 10px;
        }
    }
}