.banner-container {
    position: relative;
    width: 100%;
    .carrousel-texto-papeleria {
        position: absolute;
        @include posicion(25%,20%);
        text-align: center;
        color: white;
        h1 {
            font-size: 100px;
            color: $color-bordo;
            text-shadow: 5px 10px 15px #fff;
        }
        h2 strong,
        h3 strong,
        h4 strong {
            text-shadow: 5px 10px 5px $color-bordo;
        }
        a {
            text-decoration: none;
            color: $color-botones;
            background-color: $color-bordo;
            font-size: 20px;
            margin-top: 20px;
            @include border(10px 20px,none,20px);
        }
    }
    .carrousel-texto-jugueteria {
        width: 50%;
        position: absolute;
        @include posicion(25%,40%);
        text-align: center;
        color: white;
        h1 {
            text-decoration: double;
            font-size: 100px;
            color: #5f1b32;
            text-shadow: 0px 0px 20px #fff;
        }
        h2 strong,
        h3 strong,
        h4 strong {
            text-shadow: 5px -5px 5px #5f1b32;
        }
        a{
            text-decoration: none;
            color: $color-botones;
            background-color: #5f1b32;
            font-size: 20px;
            @include border(10px 20px, none, 20px);
        }
    }
}