.banner-container {
    width: 100%;
    .banner-papeleria,
    .banner-jugueteria{
        filter: brightness(0.5);
    }
    .carrousel-texto-papeleria {
        position: absolute;
        @include posicion(25%,20%);
        text-align: center;
        color: white;
        h1 {
            font-size: clamp(20px, 6vw, 100px);
            color: $color-bordo;
            text-shadow: 5px 10px 15px #fff;
        }
        h2 strong,
        h3 strong,
        h4 strong {
            font-size: clamp(15px, 2.5vw, 50px);
            text-shadow: 5px 5px 5px $color-bordo;
        }
        a {
            line-height: 3;
            text-decoration: none;
            color: $color-botones;
            background-color: $color-bordo;
            font-size: clamp(10px, 2vw, 50px);
            @include border(10px 20px,none,20px);
            transition: background-color 1s;
            &:hover{
                background-color: #5f1b32;
                transition: background-color 1s;
            }
        }
    }
    .carrousel-texto-jugueteria {
        width: 50%;
        position: absolute;
        @include posicion(25%,40%);
        text-align: center;
        color: white;
        h1 {
            text-decoration: double;
            font-size: clamp(20px, 6vw, 100px);
            color: #5f1b32;
            text-shadow: 0px 0px 20px #fff;
        }
        h2 strong,
        h3 strong,
        h4 strong {
            font-size: clamp(15px, 2.5vw, 50px);
            text-shadow: 5px -5px 5px #5f1b32;
        }
        a{
            line-height: 3;
            text-decoration: none;
            color: $color-botones;
            background-color: #5f1b32;
            font-size: clamp(10px, 2vw, 50px);
            @include border(10px 20px, none, 20px);
            transition: background-color 1s;
            &:hover{
                background-color: $color-bordo;
                transition: background-color 1s;
            }
        }
    }
}