.contenedor-backround-lapices{
    background-image: url(../imagenes/fondo-mas-vendidos1.jpg);
    background-size: cover; 
    background-position: center;
    @include sizes(100%,1000px);
}
.servicios {
    grid-area: servicios;
    .servicios-titulo {
        padding: 40px 0px;
        width: 100%;
        text-align: center;
        font-size: 30px;
        color: $color-titulo; 
    }
    .servicios-img {
        gap: 40px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        @include display(flex, center);
        div {
            border-radius: $border-radius-img; 
            color: #000000;
            @include sizes ($ancho-img,$altura-img)
        }
        .img-servicio {
            background: $color-fondo-img; 
            max-width: 80%;
            @include border(10px,none,$border-radius-img)
        }
    }
}



