.mas-vendidos{
    grid-area: productos;
    width: 100%;
    margin-bottom: 40px;
    .mas-vendidos-titulo{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 30px;
    }
    .mas-vendidos-colum{
        flex-wrap: wrap;
        margin: 0 10px;
        @include display (flex,center);
        gap: 20px;
        .mas-vendido-colum-card{
            width: 20%;
            box-shadow: 0 2px 4px rgba(1, 0, 0, 1);
            background-color: #5f1b32;
            text-align: center;
            border-radius: 30px;
            color: #fff;
            figure{
                .img-mas-vendido{
                    border-radius: 30px;
                    @include sizes(200px,175px);
                }
                figcaption{
                    padding: 0 10px;
                    h4{
                        font-size: clamp(20px, 1vw, 60px);
                    }
                    p{
                        font-size: clamp(10px, 1vw, 40px);
                    }
                    .mas-vendido-colum-card-boton{
                        @include display (flex, space-evenly);
                        a{
                            background-color: #9A0101;
                            text-decoration: none;
                            color: $color-botones;
                            padding: 5px;
                            border-radius: 20px;
                            font-size: clamp(10px, 1vw, 40px);
                            transition: background-color 1s;
                        }
                    }
                }
            }
        }
    }
}