@mixin sizes($width, $height) {
    height: $height;
    width: $width;
} 
@mixin display($display , $justify){
    display: $display;
    justify-content: $justify;
}
@mixin posicion($top,$left){
    top: $top;
    left: $left;
}
@mixin border($padding,$border,$radius){
    padding: $padding;
    border: $border;
    border-radius: $radius;
}