.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0fr 0fr 1.5fr 0.5fr 1fr 0.5fr 0fr;
  grid-template-areas: "logo logo logo logo" "barra barra barra barra" "principal principal principal principal" "servicios servicios servicios servicios" "productos productos productos productos" "form form form form" "footer footer footer footer";
}

k__nosotros {
  padding-inline: 21px;
}

k__ayuda {
  padding-inline: 32px;
}

k__carrito {
  padding-inline: 26px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Protest Riot", sans-serif;
  font-style: normal;
}

.img-logo {
  height: 200px;
  width: 150px;
}

.barra-nav {
  grid-area: barra;
  background-color: #9A0101;
  height: 145px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.opciones {
  margin-left: -40px;
  text-align: center;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.opciones li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  width: 100%;
}
.opciones .opciones-lista {
  align-items: center;
  list-style-type: none;
  padding: 0;
  height: 160px;
  display: flex;
  justify-content: center;
}
.opciones .opciones-lista .opciones-backround {
  background-color: #e44611;
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
  transition: background-color 1s;
}
.opciones .opciones-lista .opciones-backround:hover {
  background-color: #e62300;
  transition: background-color 1s;
}
.opciones .opciones-lista .opciones-lista-nosotros a {
  padding-inline: 21px;
}
.opciones .opciones-lista .opciones-lista-ayuda a {
  padding-inline: 32px;
}
.opciones .opciones-lista .opciones-lista-carrito a {
  padding-inline: 26px;
}

.banner-container {
  width: 100%;
}
.banner-container .banner-papeleria,
.banner-container .banner-jugueteria {
  filter: brightness(0.5);
}
.banner-container .carrousel-texto-papeleria {
  position: absolute;
  top: 25%;
  left: 20%;
  text-align: center;
  color: white;
}
.banner-container .carrousel-texto-papeleria h1 {
  font-size: clamp(20px, 6vw, 100px);
  color: #9A0101;
  text-shadow: 5px 10px 15px #fff;
}
.banner-container .carrousel-texto-papeleria h2 strong,
.banner-container .carrousel-texto-papeleria h3 strong,
.banner-container .carrousel-texto-papeleria h4 strong {
  font-size: clamp(15px, 2.5vw, 50px);
  text-shadow: 5px 5px 5px #9A0101;
}
.banner-container .carrousel-texto-papeleria a {
  line-height: 3;
  text-decoration: none;
  color: #ffffff;
  background-color: #9A0101;
  font-size: clamp(10px, 2vw, 50px);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  transition: background-color 1s;
}
.banner-container .carrousel-texto-papeleria a:hover {
  background-color: #5f1b32;
  transition: background-color 1s;
}
.banner-container .carrousel-texto-jugueteria {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
  color: white;
}
.banner-container .carrousel-texto-jugueteria h1 {
  text-decoration: double;
  font-size: clamp(20px, 6vw, 100px);
  color: #5f1b32;
  text-shadow: 0px 0px 20px #fff;
}
.banner-container .carrousel-texto-jugueteria h2 strong,
.banner-container .carrousel-texto-jugueteria h3 strong,
.banner-container .carrousel-texto-jugueteria h4 strong {
  font-size: clamp(15px, 2.5vw, 50px);
  text-shadow: 5px -5px 5px #5f1b32;
}
.banner-container .carrousel-texto-jugueteria a {
  line-height: 3;
  text-decoration: none;
  color: #ffffff;
  background-color: #5f1b32;
  font-size: clamp(10px, 2vw, 50px);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  transition: background-color 1s;
}
.banner-container .carrousel-texto-jugueteria a:hover {
  background-color: #9A0101;
  transition: background-color 1s;
}

.contenedor-backround-lapices {
  background-image: url(../imagenes/fondo-mas-vendidos1.jpg);
  background-size: cover;
  background-position: center;
  height: 850px;
  width: 100%;
}

.servicios {
  grid-area: servicios;
}
.servicios .servicios-titulo {
  padding: 40px 0px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #e44611;
}
.servicios .servicios-img {
  gap: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.servicios .servicios-img div {
  border-radius: 30px;
  color: #000000;
  height: 250px;
  width: 15%;
}
.servicios .servicios-img .img-servicio {
  background: linear-gradient(#F80505, #FF7B36);
  max-width: 80%;
  padding: 10px;
  border: none;
  border-radius: 30px;
}

.mas-vendidos {
  grid-area: productos;
  width: 100%;
  margin-bottom: 40px;
}
.mas-vendidos .mas-vendidos-titulo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
.mas-vendidos .mas-vendidos-colum {
  flex-wrap: wrap;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card {
  width: 20%;
  box-shadow: 0 2px 4px rgb(1, 0, 0);
  background-color: #5f1b32;
  text-align: center;
  border-radius: 30px;
  color: #fff;
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure .img-mas-vendido {
  border-radius: 30px;
  height: 175px;
  width: 200px;
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption {
  padding: 0 10px;
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption h4 {
  font-size: clamp(20px, 1vw, 60px);
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption p {
  font-size: clamp(10px, 1vw, 40px);
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption .mas-vendido-colum-card-boton {
  display: flex;
  justify-content: space-evenly;
}
.mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption .mas-vendido-colum-card-boton a {
  background-color: #9A0101;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  font-size: clamp(10px, 1vw, 40px);
  transition: background-color 1s;
}

.marcas {
  padding-top: 50px;
  text-align: center;
  background-color: #c7c7c7;
}
.marcas h2 {
  color: #5f1b32;
  font-size: clamp(10px, 3vw, 50px);
  font-style: italic;
}
.marcas .marcas-logos {
  padding-bottom: 30px;
}
.marcas .marcas-logos img {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.marcas .marcas-logos img:hover {
  filter: grayscale(0%);
}
.marcas .marcas-logos .marcas-logos-papeleria {
  width: 100%;
}
.marcas .marcas-logos .marcas-logos-papeleria img {
  max-width: 11%;
}
.marcas .marcas-logos .marcas-logos-jugueteria {
  width: 100%;
}
.marcas .marcas-logos .marcas-logos-jugueteria img {
  max-width: 11%;
}

.formulario {
  grid-area: form;
  background-image: url("../imagenes/formulario.fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.formulario .formulario-imagen {
  background-color: #fff;
  border-radius: 30px;
  padding-inline: 30px;
  text-align: center;
  height: 300px;
}
.formulario .formulario-imagen p {
  font-size: 20px;
}
.formulario .formulario-imagen img {
  max-width: 200px;
}
.formulario .datos {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(141, 1, 1, 0.9);
  height: 300px;
  width: 25%;
}
.formulario .datos .titulo-formulario {
  font-size: 20px;
  color: #fff;
}
.formulario .datos div input {
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  width: 90%;
}
.formulario .datos div label {
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}
.formulario .datos div .button {
  font-size: 1.2rem;
  padding: 5px 20px;
  background-color: #4c0026;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

footer {
  background-color: #565656;
  grid-area: footer;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
footer .footer-texto {
  color: #fff;
  font-size: 20px;
}
footer .footer-editado-boostrap img {
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: #fff;
  max-width: 50px;
}

.productos-fila-uno {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.productos-fila-uno .mas-vendido-colum-card {
  width: 23%;
  background-color: #5f1b32;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(1, 1, 1);
}
.productos-fila-uno .mas-vendido-colum-card h1 {
  font-size: clamp(10px, 2vw, 50px);
}
.productos-fila-uno .mas-vendidos-colum-productos {
  float: right;
}
.productos-fila-uno .mas-vendido-colum-card-productos {
  margin-bottom: 20px;
}
.productos-fila-uno .mas-vendido-colum-card-productos figure img {
  max-width: 100%;
  height: 300px;
  border: none;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 30px;
}
.productos-fila-uno .mas-vendido-colum-card-productos figure figcaption div a {
  background-color: #9A0101;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
}

.seccion-historia {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: auto;
  color: #5f1b32;
}

.seccion-ayuda {
  margin: 50px 0 0 50px;
}
.seccion-ayuda h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #9A0101;
}
.seccion-ayuda .seccion-ayuda-texto {
  display: flex;
  justify-content: space-evenly;
}
.seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-introduccion {
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
  color: #9A0101;
}
.seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces {
  width: 20%;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}
.seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .imagen-contactame {
  max-width: 300px;
}
.seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .container-contactame {
  padding: 20px 0;
  background-color: #e44611;
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  height: 280px;
  margin-bottom: 20px;
}
.seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .container-contactame a {
  background-color: #5f1b32;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 1s;
}

.carrito h1 {
  margin-top: 20px;
  text-align: center;
  color: #9A0101;
}
.carrito table {
  display: grid;
  justify-content: center;
  width: 100%;
}
.carrito table thead {
  margin-top: 30px;
}
.carrito table thead tr .table-imagen {
  padding-left: 100px;
}
.carrito table thead tr .table-descripcion {
  padding-left: 180px;
}
.carrito table thead tr .table-cantidad {
  padding-left: 95px;
}
.carrito table thead tr .table-precio {
  padding-left: 100px;
}
.carrito table tbody tr td {
  text-align: center;
  padding-inline: 50px;
  border: 2px solid #c7c7c7;
}
.carrito table tbody tr td img {
  max-width: 150px;
}

.pagar {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.pagar button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: red;
  border-radius: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card {
    font-size: 2vw;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure .img-mas-vendido {
    height: auto;
    width: 100%;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption h4 {
    font-size: 2.5vw;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption .mas-vendido-colum-card-boton a {
    font-size: 1.5vw;
  }
  .formulario .formulario-imagen {
    height: auto;
  }
  .formulario .formulario-imagen p {
    margin-top: 40px;
    font-size: 3vw;
  }
  .formulario .formulario-imagen img {
    max-width: 150px;
  }
  .formulario .datos {
    height: auto;
    width: 40%;
  }
  .formulario .datos .titulo-formulario {
    font-size: 2vw;
  }
  .formulario .datos div input {
    padding: 5px;
    border-radius: 5px;
  }
  .formulario .datos div label {
    font-size: 2.5vw;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .formulario .datos div .button {
    font-size: 2vw;
  }
  footer .footer-texto {
    font-size: 3vw;
  }
  footer .footer-editado-boostrap img {
    max-width: 70px;
  }
  .footer-editado-boostrap img {
    max-width: 20%;
  }
  .productos-fila-uno .mas-vendido-colum-card {
    width: 30%;
  }
  .productos-fila-uno .mas-vendido-colum-card-productos figure img {
    margin-top: -10px;
  }
  .seccion-ayuda {
    margin: 50px 0 0 20px;
  }
  .seccion-ayuda h1 {
    font-size: 5vw;
  }
  .seccion-ayuda .seccion-ayuda-texto {
    display: flex;
    justify-content: space-evenly;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-introduccion {
    font-size: 3vw;
    width: 60%;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces {
    width: 30%;
    font-size: 2.5vw;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .imagen-contactame {
    max-width: 100%;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .container-contactame {
    height: 300px;
  }
}
/** MOBILE **/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .img-logo {
    height: 100px;
    width: 75px;
  }
  .barra-nav {
    height: 80px;
    width: 100%;
  }
  .opciones li a {
    margin-inline: 2px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
    font-size: 2vw;
    width: 100%;
  }
  .banner-container .carrousel-texto-papeleria h1 {
    line-height: 0.5;
  }
  .banner-container .carrousel-texto-papeleria h2,
  .banner-container .carrousel-texto-papeleria h3,
  .banner-container .carrousel-texto-papeleria h4 {
    line-height: 0.5;
  }
  .banner-container .carrousel-texto-papeleria h2 strong,
  .banner-container .carrousel-texto-papeleria h3 strong,
  .banner-container .carrousel-texto-papeleria h4 strong {
    font-size: clamp(11px, 2vw, 30px);
  }
  .banner-container .carrousel-texto-papeleria a {
    line-height: 3;
    font-size: clamp(5px, 2vw, 30px);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
  }
  .banner-container .carrousel-texto-jugueteria h1 {
    line-height: 0.5;
  }
  .banner-container .carrousel-texto-jugueteria h2,
  .banner-container .carrousel-texto-jugueteria h3,
  .banner-container .carrousel-texto-jugueteria h4 {
    line-height: 0.5;
  }
  .banner-container .carrousel-texto-jugueteria h2 strong,
  .banner-container .carrousel-texto-jugueteria h3 strong,
  .banner-container .carrousel-texto-jugueteria h4 strong {
    font-size: clamp(11px, 2vw, 30px);
  }
  .banner-container .carrousel-texto-jugueteria a {
    line-height: 3;
    font-size: clamp(5px, 2vw, 30px);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
  }
  .contenedor-backround-lapices {
    height: auto;
    width: 100%;
  }
  .servicios .servicios-img {
    font-size: 3vw;
  }
  .servicios .servicios-img .img-servicio {
    max-width: 130%;
  }
  .mas-vendidos {
    margin-top: -30px;
    padding-bottom: 50px;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card {
    width: 34%;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure .img-mas-vendido {
    max-width: 100%;
    height: auto;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption h4 {
    font-size: 2.5vw;
  }
  .mas-vendidos .mas-vendidos-colum .mas-vendido-colum-card figure figcaption .mas-vendido-colum-card-boton a {
    font-size: 1.5vw;
  }
  .marcas {
    margin-top: -40px;
  }
  .formulario .formulario-imagen {
    margin-top: 50px;
    width: 50%;
    height: 100%;
  }
  .formulario .formulario-imagen p {
    font-size: 3vw;
  }
  .formulario .formulario-imagen img {
    max-width: 80%;
  }
  .formulario .datos {
    height: auto;
    width: 50%;
  }
  .formulario .datos .titulo-formulario {
    font-size: 2vw;
  }
  .formulario .datos div input {
    padding: 5px;
    border-radius: 5px;
  }
  .formulario .datos div label {
    font-size: 2.5vw;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .formulario .datos div .button {
    font-size: 2vw;
  }
  footer .footer-texto {
    font-size: 3vw;
  }
  footer .footer-editado-boostrap img {
    max-width: 7%;
    padding: 1px;
  }
  .productos-fila-uno .mas-vendido-colum-card {
    width: 40%;
    font-size: 2vw;
  }
  .productos-fila-uno .mas-vendidos-colum-productos {
    float: right;
  }
  .productos-fila-uno .mas-vendido-colum-card-productos {
    margin-bottom: 20px;
  }
  .productos-fila-uno .mas-vendido-colum-card-productos figure img {
    max-width: 80%;
    height: auto;
  }
  .productos-fila-uno .mas-vendido-colum-card-productos figure figcaption div a {
    font-size: 2vw;
  }
  .seccion-ayuda {
    margin: 50px 0 0 20px;
  }
  .seccion-ayuda h1 {
    font-size: 5vw;
  }
  .seccion-ayuda .seccion-ayuda-texto {
    display: flex;
    justify-content: space-evenly;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-introduccion {
    font-size: 3vw;
    width: 60%;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces {
    line-height: 2;
    width: 30%;
    font-size: 2.5vw;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .imagen-contactame {
    max-width: 100%;
  }
  .seccion-ayuda .seccion-ayuda-texto .seccion-ayuda-texto-enlaces .container-contactame {
    height: auto;
  }
  .seccion-historia {
    font-size: 70%;
  }
  .carrito h1 {
    font-size: 6vw;
  }
  .carrito table {
    margin-left: 20px;
    width: 90%;
    display: grid;
    justify-content: center;
    font-size: 3vw;
  }
  .carrito table thead {
    font-size: 0;
    margin-top: 30px;
  }
  .carrito table thead tr .table-imagen {
    padding-left: 0;
  }
  .carrito table thead tr .table-descripcion {
    padding-left: 0px;
  }
  .carrito table thead tr .table-cantidad {
    padding-left: 0px;
  }
  .carrito table thead tr .table-precio {
    padding-left: 0px;
  }
  .carrito table tbody tr {
    height: auto;
  }
  .carrito table tbody tr td {
    padding-inline: 0px;
  }
  .carrito table tbody tr td img {
    max-width: 40%;
    padding-block: 10px;
  }
  .pagar {
    padding: 10px;
  }
  .pagar button {
    padding: 5px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
