body{
    margin: 0;
    padding: 0;
    font-family: "Protest Riot", sans-serif;
    font-style: normal;
      
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0fr 0fr 1.5fr 0.5fr 1fr 0.5fr 0fr;
    grid-template-areas:
     "logo logo logo logo"
     "barra barra barra barra"
     "principal principal principal principal"
     "servicios servicios servicios servicios"
     "productos productos productos productos"
     "form form form form"
     "footer footer footer footer";
}

/** logo **/


.img-logo{
    width: 150px;
    height: 200px;
}

/** barra de navegacion **/

.barra-nav{
    grid-area: barra;
    display: flex;
    justify-content: space-evenly;
    background-color: #E31B1B;
    width: 100%;
    height: 145px;
}

.opciones{
    margin-left: -40px;
    display: flex;  
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

.opciones-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 160px;
}

.opciones-lista-nosotros a{
    padding-inline: 21px;
}

.opciones-lista-ayuda a{
    padding-inline: 32px;
}

.opciones-lista-carrito a{
    padding-inline: 26px;
}

.opciones li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 100%;
}

.opciones-backround{
    background-color: #FF8C1D;
    border-radius: 30px;
    padding:5px 15px;
}

/** seccion hero **/
.banner-container {
    position: relative;
    width: 100%;
}

.carrousel-texto-papeleria {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.carrousel-texto-jugueteria{
    width: 50%;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.carrousel-texto-papeleria h1{
    font-size: 100px;
    color: #9A0101;
    text-shadow: 5px 10px 15px #fff;
}

.carrousel-texto-papeleria h2 strong,
.carrousel-texto-papeleria h3 strong,
.carrousel-texto-papeleria h4 strong{
    text-shadow: 5px 10px 5px #9A0101;
}

.carrousel-texto-papeleria button{
    text-decoration: none;
    color: #fff;
    background-color: #9A0101;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

.carrousel-texto-jugueteria h1{
    text-decoration: double;
    font-size: 100px;
    color: #5f1b32;
    text-shadow: 0px 0px 20px #fff;
}

.carrousel-texto-jugueteria h2 strong,
.carrousel-texto-jugueteria h3 strong,
.carrousel-texto-jugueteria h4 strong{
    text-shadow: 5px -5px 5px #5f1b32;
}

.carrousel-texto-jugueteria button{
    text-decoration: none;
    color: #fff;
    background-color: #5f1b32;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

.contenedor-backround-lapices{
    background-image: url(/imagenes/fondo-mas-vendidos1.jpg);
    background-size: cover; 
    background-position: center;
    height: 1000px; 
    width: 100%; 
}

/** Servicios **/

.servicios{
    grid-area: servicios;
}

.servicios-titulo{
    padding: 40px 0px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #e44611;
}

.servicios-img{
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.servicios-img div{
    width: 15%;
    height: 250px; 
    border-radius: 30px;
    color: black;
}

.img-servicio{
    background: linear-gradient(#F80505, #FF7B36);
    max-width: 210px;
    padding: 10px;
    border-radius: 30px;
}

/** Productos mas vendidos **/

.mas-vendidos{
    grid-area: productos;
    width: 100%;
    margin-bottom: 40px;
}

.mas-vendidos-titulo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.mas-vendidos-colum{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
}

.mas-vendido-colum-card{
    background: #ff4500;
    text-align: center;
    border-radius: 30px;
    color: #fff;
}

.img-mas-vendido{
    width: 350px;
    height: 300px;
    border: solid 5px #ff4500;
    border-radius: 30px;
}

.mas-vendido-colum-card-boton{
    display: flex;
    justify-content: space-evenly;
}

.mas-vendido-colum-card-boton a{
    background-color: #e44611;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 1s;
}

/** marcas **/

.marcas{
    padding-top: 50px;
    text-align: center;
    background-color: #c7c7c7;
}

.marcas h2{
    color: #5f1b32;
    font-size: 40px;
    font-style: italic;
}

.marcas-logos{
    padding-bottom: 30px;
}

.marcas-logos img {
    filter: grayscale(100%);
    transition: filter 0.5s ease; 
}

.marcas-logos-papeleria{
    width: 100%;
}

.marcas-logos-papeleria img{
    max-width: 11%;
}

.marcas-logos-jugueteria{
    width: 100%;
}

.marcas-logos-jugueteria img{
    max-width: 11%;
}


/** formulario **/

.formulario{
    grid-area: form;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 50px;
}

.formulario-imagen{
    padding: 30px;
    text-align: center;
    height: 300px;
}

.formulario-imagen p{
    font-size: 20px;
}

.formulario-imagen img{
    max-width: 200px;
}

.titulo-formulario{
    font-size: 20px;
    color: #fff;
}

.datos {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 300px;
    background-color: #9A0101;
    
}

.datos div input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 90%;
}

.datos div label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #9A0101;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/** footer **/
footer {
    grid-area: footer;
    display: inline-block;
    width: 100%;
    text-align: center; 
}

.footer-texto {
    color: #ff4500;
    font-size: 20px;
}

.img-footer {
    max-width: 50px;
    padding: 20px;
}

.footer-editado-boostrap img{
    max-width: 100px;
}
/** ------------- ESTILOS PRODUCTOS --------------- **/

.contenedor-productos-aside{
    background-color: #fff;
    position: fixed;
    top: 20%; 
    left: 20px; 
    z-index: 1000;
}

.imagen-productos{
    max-width: 200px;
    margin-left: 30px;
}

.boton-aside{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #9A0101;
    color: #fff;
    margin: 10px 40px;
}

.buscador input{
    border-radius: 20px;
    border: solid 1px #5f1b32;
}

.productos-fila-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos-fila-uno .mas-vendido-colum-card {
    width: 26%;
    background-color: #5f1b32;
}

.mas-vendidos-colum-productos {
    float: right;
}

.productos-fila-uno {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
}

.mas-vendido-colum-card-productos{
    margin-bottom: 20px;
}

.mas-vendido-colum-card-productos figure img{
    margin-top: -5px;
    max-width: 330px;
    border: none;
    margin-bottom: 10px;
}

.mas-vendido-colum-card-productos figure figcaption div a{
    background-color: #9A0101;
}
/** ------------- ESTILOS NOSOTROS --------------- **/

.seccion-historia{
   font-size: 1.5rem;
   text-align: center;
   width: 80%;
   margin: auto;
   color: #5f1b32; 
}

/** -------------- ESTILOS AYUDA ----------------- **/ 
.seccion-ayuda{
    margin-top: 50px;
    margin-left: 50px;
}

.imagen-contactame{
    max-width: 300px;
}

.seccion-ayuda h1{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: #9A0101;
}

.seccion-ayuda-texto{
    display: flex;
    justify-content: space-evenly;
}

.seccion-ayuda-texto-introduccion{
    font-size: 1.3rem;
    text-align: center;
    width: 50%;
    color: #9A0101;
}

.seccion-ayuda-texto-enlaces{
    width: 20%;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}

.container-contactame{
    padding: 20px 0;
    background-color: #e44611;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    height: 200px;
}


.seccion-ayuda-texto-enlaces a{
    background-color: #5f1b32;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 1s;
}


/** ------------- ESTILOS CARRITO --------------- **/

.carrito h1{
    text-align: center;
    font-size: 2.5rem;
}

.carrito-container{
    display: flex;
    justify-content: space-evenly;
}

.carrito-container-izquierda{
    text-align: center;
    background-color: #e44611;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
}

.carrito-container-izquierda img{
    max-width: 300px;
    border-radius: 30px;
    border: #e44611 solid 2px;
}

.carrito-container-izquierda-boton{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carrito-container-izquierda-boton button{
    border: none;
    background-color: #9A0101;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    transition: background-color 1s;
}

.carrito-container-derecha{
    display: flex;
    flex-direction: column;
    border: #e44611 solid 2px;
    width: 20%;
    border-radius: 20px;
}

.carrito-container-derecha h3{
    text-align: center;
    margin-bottom: 0;
    flex-grow: 1; 
}

.carrito-botones{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.carrito-botones button{
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #5f1b32;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 1s;
}

.carrito-botones button a{
    text-decoration: none;
    color: #fff;
}
/** Hover **/

.opciones li a:hover{
    color: #9A0101;
}

.mas-vendido-colum-card-boton a:hover{
    background-color: #9A0101;
}

.button:hover {
    background-color: #9a010191;
}

.seccion-ayuda-texto-enlaces a:hover{
    background-color: #9A0101;
}

.carrito-container-izquierda-boton button:hover{
    background-color: #5f1b32;
}

.carrito-botones button:hover{
    background-color: #9A0101;
}

.carrusel-principal-enlace:hover{
    background-color: #e44611;
}

.marcas-logos img:hover {
    filter: grayscale(0%);
}

.imagenes-secciones img:hover {
    transform: scale(1.1);
}

/** ------------------ MEDIAS ------------------- **/

/** TABLET **/

@media only screen and (min-width:769px) and (max-width:1200px){
    
    .grid-container{
        display: none;
    }

    .mas-vendidos-colum{
       display: inline-block;
    }

    .imagenes-secciones img{
        max-width: 80%;
    }

    .footer-editado-boostrap img{
        max-width: 10%;
    }

    .seccion-ayuda-texto-enlaces{
        width: 30%;
        padding: 20px 20px;
    }
}


/** MOBILE **/

@media only screen and (min-width:320px) and (max-width:768px){
    .barra-nav ul li a{
         font-size: 80%;
    }
    
    .imagenes-secciones img{
        max-width: 70%;
    }

    .footer-editado-boostrap img{
        max-width: 20%;
    }

    .seccion-ayuda{
        margin-right: 40px;
    }
    .seccion-ayuda h1{
        font-size: 180%;
    }

    .seccion-ayuda-texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .seccion-ayuda-texto-introduccion{
        font-size: 90%;
        width: 70%;
    }

    .seccion-ayuda-texto-enlaces{
        width: 70%;
        font-size: 90%;

    }
} 