.carrito {
    h1{
    text-align: center;
    font-size: 2.5rem;
    }
    .carrito-container{
        display: flex;
        justify-content: space-evenly;
        .carrito-container-izquierda{
            text-align: center;
            background-color: #e44611;
            border-radius: 20px;
            padding: 10px 20px;
            color: #fff;
            img{
                max-width: 300px;
                border-radius: 30px;
                border: #e44611 solid 2px;
            }
            .carrito-container-izquierda-boton{
                display: flex;
                justify-content: center;
                gap: 20px;
                button{
                    border: none;
                    background-color: #9A0101;
                    padding: 10px 20px;
                    border-radius: 20px;
                    color: #fff;
                    transition: background-color 1s;
                }
            }
        }
        .carrito-container-derecha{
            display: flex;
            flex-direction: column;
            border: #e44611 solid 2px;
            width: 20%;
            border-radius: 20px;
            h3{
                text-align: center;
                margin-bottom: 0;
                flex-grow: 1; 
            }
        }
    }
    .carrito-botones{
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
        button{
            text-decoration: none;
            border: none;
            color: #fff;
            background-color: #5f1b32;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 1rem;
            transition: background-color 1s;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}  