.contenedor-productos-aside{
    background-color: #fff;
    position: fixed;
    top: 20%; 
    left: 20px; 
    z-index: 1000;
    div{
        .buscador{
            input{
                border-radius: 20px;
                border: solid 1px #5f1b32;
            }
        }
        .boton-aside{
            border: none;
            border-radius: 20px;
            padding: 10px;
            background-color: #9A0101;
            color: #fff;
            margin: 10px 40px;
        }
    }
    .imagen-productos{
        max-width: 200px;
        margin-left: 30px;
    }
}





 