
.productos-fila-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 300px;
    .mas-vendido-colum-card {
        width: 26%;
        background-color: #5f1b32;
        color: #fff;
        text-align: center;
        border-radius: 20px;
    }
    .mas-vendidos-colum-productos {
        float: right;
    }
    .mas-vendido-colum-card-productos{
        margin-bottom: 20px;
        figure{
            img{
                margin-top: -10px;
                max-width: 340px;
                height: 350px;
                border: none;
                margin-bottom: 10px;
                border-radius: 30px;
            }
            figcaption{
                div{
                    a{
                        background-color: #9A0101;
                        color: #fff;
                        text-decoration: none;
                        padding: 10px 20px;
                        margin: 0 5px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}